@model WebXemPhim.Models.User
@{
    ViewBag.Title = "Đăng ký";
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Xem Phim - Đăng ký</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/login_register.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center text-light">Đăng ký</h1>
        <br>
        <form asp-controller="Users" asp-action="Register" method="post">
            @Html.AntiForgeryToken()
            <div class="form-gr text-light">
                <label for="UserName"><i class="fas fa-user"></i> Tên đăng nhập</label>
                <input type="text" id="UserName" name="UserName" class="form" required>
            </div>
            <div class="form-gr text-light">
                <label for="UserPassword"><i class="fas fa-solid fa-lock"></i> Mật khẩu</label>
                <input type="password" id="UserPassword" name="UserPassword" class="form" required>
            </div>
            <div class="form-gr text-light">
                <label for="ConfirmPassword"><i class="fas fa-solid fa-lock"></i> Nhập lại mật khẩu</label>
                <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form" required>
                <span id="passwordMismatch" class="text-danger" style="display: none;">Mật khẩu không khớp.</span>
            </div>
            <button type="submit" class="btn">Đăng ký</button>
        </form>
        @Html.ValidationSummary(false, "", new { @class = "text-light" })
        <div class="text-center mt-3">
            <p class="text-light">Bạn đã có tài khoản? <a href="/Users/Login" class="info-color">Đăng nhập</a></p>
        </div>
    </div>
    <script src="/js/login_register.js">
    </script>
</body>
</html>
